.container-detail {
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 99999;
    background-color: #fff;
    width: 80%;
    box-shadow: 1px 0px 19px 1px rgb(228, 221, 221);

}

.container-detail_background {
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(146, 141, 234, 0.062) 37%, rgba(242, 238, 242, 0.04899777282850781) 100%);
}

.container-detail_background img {
    margin: auto;
    margin-top: 100px;
    object-fit: contain;
    outline: 0;
    width: 60vw;
    height: auto;
    outline: 1px solid rgb(253, 251, 251);
    outline-offset: -1rem;
    box-shadow: 1px 1px 10px 1px #333;
}

@media (width<750px) {
    .container-detail_background img {
        margin: auto;
        margin-top: 100px;
        object-fit: contain;
        outline: 0;
        width: 70vw;

        outline: 1px solid rgb(253, 251, 251);
        outline-offset: -1rem;
        box-shadow: 1px 1px 10px 1px #333;
    }
}

.container-detail_controls,
.container-detail_controls-red {
    display: flex;
    justify-content: center;
}

.container-detail_background .container-detail_controls ion-icon {
    position: relative;
    background-color: #ffffff34;
    color: #413f42;
    border-radius: 100%;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
}

.container-detail_background .container-detail_controls-red ion-icon {

    background-color: #ffffff34;

    border-radius: 100%;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    color: rgb(243, 38, 38);
}

.container-detail_background .container-detail_controls-red ion-icon:hover {
    background-color: #ffffff80;

}

.container-detail_background .container-detail_controls ion-icon:hover {
    background-color: #ffffff80;

}


.container-detail_description {
    background-color: #fff;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;

    box-shadow: 1px 0px 19px 1px rgb(228, 221, 221);
}

.container-detail_description b {
    font-weight: 500
}


.container-detail_review {
    background-color: #fff;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;

    box-shadow: 1px 0px 19px 1px rgb(228, 221, 221);
}

.container-detail_review-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-detail_review-2 h5 {
    font-weight: 500;

}

.container-detail_review-2 p {
    color: rgba(7, 85, 252, 0.917);
    font-weight: 600;
    margin: 10px 0;
}

.container-detail_same {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}