
.container-galery {
position: absolute;
    columns: 4;
    left: 10px;
    right: 10px;
    margin-top: 150px;
    column-gap: 2rem;
z-index: -1;
box-sizing: border-box;
}

.container-img {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;

}
.like{
    position: absolute;
    top: 33%;
    right: 10px;
    z-index: 9998;
}

.container-galery .container-img img {
    width: 22vw;
    object-fit: contain;
    display: block;
    outline: 1px solid #fff;
    outline-offset: -.5rem;
    box-shadow: 1px 1px 17px 1px #333;
}

.container-galery .container-img .span-red  span {
    color: red;
}
.container-galery .container-img .span-black  span {
    color: rgb(7, 7, 7);
}

.container-galery .container-img video {
    width: 22vw;
    object-fit: cover;
    outline: 1px solid #fff;
    display: block;
    outline-offset: -.5rem;
    box-shadow: 1px 1px 17px 1px #333;
    position: relative;
    z-index: -1;
}

@media (width<750px) {
    .container-galery {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        left: 10px;
        right: 10px;
        
    }
    .container-img {
        position: relative;
 

    }
    .container-galery .container-img img {
        width: 90vw;
        object-fit: cover;
        display: block;
        outline: 1px solid #fff;
        outline-offset: -.5rem;
    }

    .container-galery .container-img video {
        width: 90vw;
        object-fit: cover;
        display: block;
        outline: 1px solid #fff;
        outline-offset: -.5rem;
    }


}

.paginacion {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 19px;
    font-family: poppins;
}

.paginacion-botonera {
    display: flex;



}

.paginacion-botonera button {
    background-color: transparent;
    margin: 10px;
    border: 1px solid #333;
    font-size: 19px;
    font-family: poppins;
    width: 60px;
    height: 50px;
    cursor: pointer;

}

.paginacion-botonera button:focus {
    outline: 1px solid rgba(32, 31, 30, 0.668);


}

.paginacion-botonera input {
    background-color: transparent;
    margin: 10px;
    width: 60px;
    height: 50px;
    border: 1px solid #333;
    font-size: 19px;
    font-family: poppins;
    text-align: center;
    outline: none;

}

.paginacion-botonera p {
    background-color: transparent;
    margin: 10px 0;

    padding: 10px 0;
    font-size: 19px;
    font-family: poppins;
    text-align: center;
    outline: none;

}

.false {
    display: none;
}

.true {
    display: block;
}