.container {
    background-color: #333;
    columns: 4 220px;
    margin-top: 70px;
    padding: 10px;
    column-gap: 2px;

}

.container-img {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}



img {
width:220px;
height: 70vh;
    object-fit: cover;
    display: block;
    outline: 1px solid #fff;
    outline-offset: -.5rem;
}

.container-img a {
color: #eddddd;
}
@media (width<750px) {
    .container {
        background-color: #333;
        columns: 80vw;
        margin-top: 70px;
        padding: 10px;
        column-gap: 2px;
    
    }
    .container-img {
        display: flex;
        justify-content: center;
        height: 100vh;
        margin-bottom: 20px;
    }
    
    img {
        width: 80vw;
        height: 90vh;
            object-fit: cover;
            display: block;
            outline: 1px solid #eddddd;
            outline-offset: -1rem;
        }
  }