.container-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container-upload textarea {
    width: 500px;
    height: 10vh;
    font-size: 19px;
    font-family: poppins;
}
.container-upload img {
    height: 100px;
    margin :0  20px;


}
.container-upload video {
    height: 100px;
    margin :0  20px;

}
.container-upload p {
    margin :0  20px;
}
.img, .category, .description, .upload {
    margin: 20px;
}
.container-upload .img {
    display: flex;
    height: 150px;
    flex-direction: column;
}
.container-upload .img input{
    padding: 20px;

}

@media (width<750px) {
    .container-upload textarea {
        width:  90%;
        height: 10vh;
        font-size: 19px;
        font-family: poppins;
    }
}